.Button {
  height: 40px;
  border-radius: 2px;
}

.Follow {
  border-radius: 70px;
  min-width: 100px;
  padding: 4px;
}

.ButtonComment {
  border-radius: 2px;
}

.Wide {
  width: 100%;
}

.Dark {
  background-color: #222222;
  border: none;
}

.Dark:hover {
  background-color: #6e7377;
}

.Dark:hover:active {
  background-color: #6e7377;
}

.Dark:active {
  background-color: #6e7377;
}

.Dark:disabled {
  background-color: #6e7377;
}