.CommentForm {
  border: 1px solid #d7d8db;
  border-radius: 15px;
  margin:0vh 1vh 1vh;
}

.Group {
  padding-bottom: 7px;
}

.Input {
  border: none;
  padding: 1vh;
  border-radius: 0;
}

.NoPadding {
  padding: 0;
}

.Button {
  min-width: 100px;
  margin-left: 7px;
  padding: 3px;
}
