.CommentForm {
  border: 1px solid #d7d8db;
  border-radius: 3px;
  margin-bottom: 1vh;
}

.Group {
  padding-bottom: 7px;
}

.Input {
  border: none;
  padding: 0;
  border-bottom: 2px solid #d7d8db;
  border-radius: 0;
  font-weight: 500;
}

.Button {
  min-width: 100px;
  margin-left: 7px;
  padding: 3px;
}
