.Owner {
  color: #02635d;
  margin-right: 10px;
  font-size: 0.9em;
  font-weight: 700;
}

.Date {
  color: #6e7377;
  font-size: 0.8em;
  font-weight: 500;
}

.Content {
  margin: 0;
}

.ReplyIcon {
  font-size: 0.8em;
  color: #6e7377;
}

.ReplyIcon i {
  padding-right: 5px;
}

.Reply {
  font-size: 0.8em;
  margin-left: 1em;
  font-weight: 700;
  cursor: pointer;
}

.Reply:hover {
  cursor: pointer;
}

.ViewReplies {
  margin-left: 1em;
}

.ViewReplies:hover {
  cursor: pointer;
}

.ReplyBody {
  padding: 8px 3px 0 0;
  background-color: #f7f8fa;
  margin: 1em 0 1em 0;
  border-radius: 15px;
  border: 1px solid #d7d8db;
  font-weight: 400;
  font-size: 0.9em;
}

hr {
  color: #6e7377;
}

@media screen and (min-width: 768px) {
  .ReplyBody {
    padding: 8px 16px 0;
    background-color: #f7f8fa;
    margin: 1em;
  }
}
