.Row {
  min-height: 24vh;
}

.Row i,
h1 {
  font-size: 2em;
}

.Row h1 {
  font-size: 2em;
  font-weight: 700;
  color: #02635d;
}

.WhiteBg {
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .Row {
    min-height: 26vh;
  }
}
