.NavBrand {
  font-size: 2em;
  font-weight: 800;
  color: #222222;
  text-decoration: none;
}

.NavBrand:hover {
  color: #222222;
}

.NavBarMobile {
  padding: 8px 0;
  color: #222222;
  text-decoration: none;
}

.NavBarMobile:hover {
  color: #222222;
  text-decoration: underline;
}

.NavBarMobile i {
  font-size: 1.3em;
}

.NavLink {
  color: #222222;
  text-decoration: none;
  padding: 8px;
}

.NavLink:hover {
  color: #222222;
}

.AddQuoteButton {
  color: #222222;
  border: 2px solid;
  border-radius: 20px;
  padding: 8px;
  text-decoration: none;
}

.AddQuoteButton:hover {
  color: white;
  background: #222222;
  text-decoration: none;
  border-color: #222222;
}