.NavBar {
  background-color: #ffffff;
}

.NavBrand {
  font-size: 2em;
  font-weight: 800;
  color: #362113;
  text-decoration: none;
}

.NavBrand:hover {
  color: #362113;
}

.NavBarMobile {
  padding: 8px 0;
  color: #362113;
  text-decoration: none;
}

.NavBarMobile:hover {
  color: #362113;
  text-decoration: underline;
}

.NavBarMobile i {
  font-size: 1.3em;
}

.NavLink {
  color: #362113;
  text-decoration: none;
  padding: 8px;
}

.NavLink:hover {
  color: #362113;
}

.AddQuoteButton {
  color: #362113;
  border: 2px solid;
  border-radius: 20px;
  padding: 8px;
  margin-left: 10px;
  text-decoration: none;
}

.AddQuoteButton:hover {
  color: white;
  background: #362113;
  text-decoration: none;
  border-color: #362113;
}

.Active {
  color: #362113;
  padding: 8px 8px 6px 8px;
  text-decoration: none;
  border-bottom: 2px solid;
}

.Active:hover {
  color: #362113;
}