.Row {
  min-height: calc(90vh - 170px);
}

.Header {
  font-size: 1.5em;
  padding: 1rem 0;
}

.Group {
  padding-bottom: 1rem;
}

.Input {
  border-radius: 2px;
}

.AuthorList {
  z-index: 1;
  position: absolute;
  width: 100%;
  padding: 10px;
  background-color: lightgray;
}

.AuthorOption {
  display: block;
  background-color: lightblue;;
  border: none;
  border-radius: 0;
  padding: 0;
  width: 100%;
}

.AuthorOption:hover {
  background-color: blue;
}

datalist {
  background-color: blue;
}

datalist option {
  background-color: red;
}

@media screen and (min-width: 768px) {
  .Row {
    min-height: calc(90vh - 102px);
  }
}
