.Quote {
  border: 1px dashed #362113;
  border-radius: 15px;
  box-shadow: 0px 2px 7px #d7d8db;
  margin:2vh 1vh 5vh;
}

.QuoteHeader {
  padding: 10px 0 0;
}

.Owner {
  color: #6e7377;
  text-decoration: none;
}

.QuoteInfo {
  color: #6e7377;
  padding: 0 5px;
  font-size: 0.9em;
}

.InfoContainer {
  min-width: 60vw;
}

.QuoteBody {
  padding: 10px 0 0;
  color: #362113;
}

.QuoteBody i {
  color: rgba(54, 33, 19, .4);
  font-size: 1.5em;
}

.Content {
  font-size: 1.2em;
}

.Author {
  font-weight: 700;
  position: relative;
  bottom: 4vh;
}

.Footer {
  font-size: 1.2em;
  padding-top: 0;
  color: #02635d;
}

.Footer a:hover {
  color: #362113;
}

.Footer i {
  padding-right: 5px;
}

.Footer i:hover {
  color: #362113;
}

@media screen and (min-width: 768px) {
  .QuoteBody {
    margin: 0 6vw;
  }

  .Quote {
    padding: 1em;
  }

  .QuoteInfo {
    padding: 0 10px;
  }

  .InfoContainer {
    min-width: 0%;
  }

  .QuoteBody {
    margin: 0 2vw;
  }

  .QuoteBody {
    padding-top: 0;
  }
  
  .QuoteBody i {
    font-size: 2em;
  }

}