.Header {
  background-color: #ffffff;
}

.Header h1 {
  font-size: 1.5em;
  font-weight: 700;
}

.Header p {
  color: #6e7377;
  font-size: 0.8em;
}

.Row {
  min-height: calc(90vh - 170px);
}

.Header {
  font-size: 1.5em;
  padding: 1rem 0;
}

.SearchInput {
  border-radius: 2px;
  border-left: none;
}

.Category {
  border-radius: 2px;
}

.SearchIcon {
  border-radius: 2px;
  background-color: #ffffff;
}

.Link {
  color: #222222;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .Row {
    min-height: calc(90vh - 102px);
  }
}