.Row {
  min-height: calc(90vh - 170px);
}

.Header {
  font-size: 1.5em;
  padding: 1rem 0;
}

.Group {
  padding-bottom: 1rem;
}

.Input {
  border-radius: 2px;
}

.AuthorList {
  z-index: 1;
  position: absolute;
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #d7d8db;
}

.AuthorOption {
  display: block;
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  padding: 3px;
  width: 100%;
  text-align: left;
  color: #222222;
}

.AuthorOption:hover {
  background-color: #d7d8db;
  color: #222222;
}

@media screen and (min-width: 768px) {
  .Row {
    min-height: calc(90vh - 102px);
  }
}
