.Row {
  min-height: calc(90vh - 170px);
}

.Container {
  border-radius: 15px;
  border: 1px dashed #362113;
  box-shadow: 0px 0px 7px #d7d8db;
  margin:1vh;
}

.Header {
  font-size: 1.5em;
  padding: 1rem 0;
}

.Group {
  padding-bottom: 1rem;
}

.Input {
  padding: 4px;
  border-radius: 2px;
}

.Link {
  color: #02635d;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .Row {
    min-height: calc(90vh - 102px);
  }
}
